html,
body {
    color: #4f4f4f;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    font-weight: 300 !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sen', sans-serif;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 0;
    position: relative;
    padding: 0;
    color:black;
    margin: 0
    margin-bottom: 0.1rem;
}


h1 {
    font-size: 4.209rem;

}

h2 {
    font-size: 3.157rem;
    /* font-weight: 500;
    letter-spacing: -2px;
    position: relative;
    margin-bottom: 25px;
    line-height: 50px;
    position: relative; */
}

h3 {
    font-size: 2.369rem;
    padding-top: 30px;

    /* color: #000;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase; */
}

h4 {
    font-size: 1.777rem;
    /* color: #000;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0 20px 0; */
}

h5 {
    font-size: 1.333rem;
    /* font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: normal;
    color: #000; */
}

h6 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.footer_bottom > p{
    font-size: .8rem;;
}
/* p.large {    font-size: 16px;
    font-weight: 400;
}

p.large_2 {
    font-weight: 500;
    font-size: 14px;
    color: #000;
} */



