@font-face { font-family: 'Sen';
  src: local ('Sen-Bold')
       url('/assets/Sen/Sen-Bold.ttf') format('truetype')
       url('/assets/Sen/Sen-ExtraBold.ttf') format('truetype')
       url('/assets/Sen/Sen-Regular.ttf') format('truetype'); }

@font-face { font-family: 'Roboto';
        src: local ('Roboto')
             url('/assets/Roboto/Roboto-Regular.ttf') format('truetype'); }

       

html {font-size: 125%;} /*20px*/

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color:black;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Sen', sans-serif;
  line-height: 1.15;
}

h1 {
  font-weight: 800;
  margin-top: 0;
  font-size: 11.089em;
}

h2 {font-size: 6.854em;}

h3 {font-size: 4.236em;}

h4 {font-size: 2.618em;}

h5 {font-size: 1.618em;}

small, .text_small {font-size: 0.618em;}