/* -------------------------------------------------------------------------------- Basics  */
body {
  background-color: white;
  font-family: 'Sen', sans-serif;
  line-height: 1.2;
  color: black;
  margin: 0;

}

/* -------------------------------------------------------------------------------- CSS Grid  */

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 8.3fr);
    grid-gap: 0;
    grid-row: 7;
    
    }



  .one {
    grid-column: 1 / 2;
    
  }
  .two { 
    grid-column: 2 / 3;

  }
  .three {
    grid-column: 3 / 4;

  }
  .four {
    grid-column: 4 / 5;

  }
  .five {
    grid-column: 5 / 6;

  }

  .six{
    grid-column: 6 / 7;

  }

  .seven{
    grid-column: 7 / 8;

  }

  .height-90{
    grid-row: 1 / 7;
    height: 90vh;
  }

  .height-10{
    grid-row: 7 / 8;
    height: 10vh;
  }

  .nosignal1{
    grid-row: 2 / 3;
    grid-column: 2 / 5;
  }

  .nosignal2{
    grid-row: 3 / 4;
    grid-column: 4 / 7;
  }

  .nosignal3{
    grid-row: 4 / 5;
    grid-column: 2 / 5;
  }

  /* -------------------------------------------------------------------------------- Metaballs Canvas  */

  canvas[resize] {
    width: 100%;
    height: 100%;
    grid-column: 1 / 8;
    grid-row: 1 / 8;
} 


  /* -------------------------------------------------------------------------------- Typeface  */
  
  h1 {
    font-size: 8rem;
    font-weight: 800;
    color: black;
    padding-left: 1rem;
  }

  a{
    font-size: 6rem;
    color: black;
    text-decoration: none;
    position: relative;
  }

  /* effect-shine */
a:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}




  /* -------------------------------------------------------------------------------- Colors  */
.red {
    background-color: red;
  }

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(0, 255, 0);
}

.magenta {
    background-color: magenta;
}

.gray {
    background-color: gray;
}

.turquoise {
  background-color: turquoise;
}

.black{
  background-color: black;
}

  /* -------------------------------------------------------------------------------- Glitch text effect  */

